@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(8, 38, 83);
    color: white;
    padding: 20px 0;
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
}
